:host {
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

mat-cell > ol,
mat-cell > ul {
  list-style-position: inside;
  padding-left: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
